@layer base.default {
	html {
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		overflow-x: clip;
	}
	body {
		min-block-size: 100dvh;
	}
	img {
		max-inline-size: 100%;
		block-size: auto;
		vertical-align: middle;
	}
	:where(h1, h2, h3, h4, h5, h6) {
		margin-block: 1.5em 0.5em;
		overflow-x: clip;
	}

	p,
	blockquote {
		margin-block: 1em;
	}

}