@layer base.default {
	html {
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		overflow-x: clip;
	}
	body {
		min-block-size: 100dvh;
	}
	img {
		max-inline-size: 100%;
		block-size: auto;
		vertical-align: middle;
	}
}