@layer base.typography {
	body {
		font-family: 'Bitter', serif;
		font-optical-sizing: auto;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		hyphens: auto;
	}
	:where(h1, h2, h3, h4, h5, h6) {
		font-weight: 600;
		text-transform: uppercase;
		text-wrap: balance;

		margin-block: 1.5em 0.5em;
	}
	:where(h1, h2, h3) {
		line-height: 1.1;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.625rem;
	}
	h4 {
		font-size: 1.375rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1.125rem;
	}
	p {
		text-wrap: pretty;
	}
	a {
		text-decoration: 0.0625rem underline dashed;
		text-decoration-color: transparent;
		
		outline: 0.0625rem dashed transparent;
	
		@media (prefers-reduced-motion: no-preference) {
			transition: var(--base-transition, 0.2s ease-in-out);
			transition-property: color, outline-color, text-decoration-color;
		}
		
		&:hover {
			text-decoration-color: currentColor;
		}
		&:focus-visible {
			outline-color: currentColor;
		}
	}

	blockquote,
	q {
		font-style: italic;

		&:not(:has(>*)) {
			&::before,
			&::after {
				@extend %quote-style;
			}
			&::before {
				@extend %quote-start;
			}
			&::after {
				@extend %quote-end;
			}
		}
		& {
			& :first-child::before,
			& :last-child::after {
				@extend %quote-style;
			}
			& :first-child::before {
				@extend %quote-start;
			}
			& :last-child::after {
				@extend %quote-end;
			}
		}

	}
}
%quote-style {
	font-weight: 300;
	font-size: 1.7em;
	line-height: 0.6;
	vertical-align: text-top;
}
%quote-start {
	content: open-quote;
}
%quote-end {
	content: close-quote;
}
